#tutor_sensei{
}

@media (min-width:901px){
    .photo_avatar{
        width: 25%;
        height: 25%;
    }
}
@media (max-width:900px){
    .photo_avatar{
        width: 35%;
        height: 35%;
    }
}

.photo_avatar{
    
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto 
}

#interfaz_avatar{
    padding-left: 1em;
}