.missconception{
    border: 1px solid red;

}
.optiontext{

}
.areatracing input[type='text']{
    -webkit-border-radius: 15px 15px 15px 15px;
    border-radius: 1em 1em 1em 1em;

    font-size: small;
    padding-left: 0.5em;

    /*width: 6em;*/
}
.focusInput{
    -webkit-box-shadow: inset 0.5em 0.2em 1em 0.2em #2FBD47;
    box-shadow: inset 0.5em 0.2em 1em 0.2em #2FBD47;
}

.errorTracing{
    -webkit-box-shadow: inset 0.5em 0.2em 1em 0.2em red;
    box-shadow: inset 0.5em 0.2em 1em 0.2em red;
}

.controles{
    text-align: right;
}
.instrucciones{
    font-weight: bold;
}

#progressbar{
    height: 1em;
    background: #FFF;
    border-radius: 1em;
}

@media only screen and (min-width:575px){
    #divProgressbar{
        width: 50%;
        padding-top: 1em;
        display: inline-block;
        float: left;
    }
}