body{
    font-family: Arial;
    font-size: 14px;
    border-radius: 10px;
    margin: 20px auto;
    max-width: 1024px;
    text-align: center;
}
main section article{
    display: inline-block;
    text-align: right;
}
main section article h2{
    text-align: center;
}
#jsonArea{
    width: 500px;
    height: 100px;
    resize: none;
}