.tabs {
  max-width: 950px;
  list-style: none;
  position: relative;
  margin: 20px 0 0 10px;
}
.tabs li {
  float: right;
  display: block;
}
.tabs input[type="radio"] {
  position: absolute;
  top: -9999px;
  left: -9999px;
}
.tabs label {
  border: 1px solid black; 
  display: block;
  padding: 14px 21px;
  border-radius: 2px;
  font-size: 17px;
  font-weight: bold;
  background: rgb(200,200,200);
  cursor: pointer;
  position: relative;
  top: 4px;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.tabs label:hover {
  background: rgb(150,150,150);
}
.tabs .tab-content {
  border: 1px solid black;
  z-index: 2;
  display: none;
  overflow: hidden;
  width: 100%;
  font-size: 16px;
  line-height: 25px;
  padding: 25px;
  position: absolute;
  top: 53px;
  left: 0;
}
.tabs [id^="tab"]:checked + label {
  top: 0;
  padding-top: 17px;
  background: rgb(140,140,140);
}
.tabs [id^="tab"]:checked ~ [id^="tab-content"] {
  display: block;
}

p.link {
  clear: both;
  margin: 380px 0 0 15px;
}
p.link a {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  color: #fff;
  padding: 5px 10px;
  margin: 0 5px;
  background-color: #612e76;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
p.link a:hover {
  background-color: #522764;
}
