#prome{
    font-size: 10px;
    text-align: right;
}
#tablaEjercicios{
    
    margin: 0 auto;
    //border: 1px solid black;
    border-collapse: collapse;
    
}
#tablaEjercicios td{
    display: table-cell;
    text-align: center;
    width: 20px;
    border: 1px solid black;
}
.lec, #promTot{
    border: 1px solid black;
    text-align: left;
}
