*.log
*.class
*.lock
javasensei/target/*
*log*
*dataset*
/GenerarDataset/nbproject/private/
!/javasensei/src/main/webapp/img/firefox-logo-full.png
!/javasensei/src/main/webapp/examenes/login.html
!/javasensei/src/main/webapp/examenes/loginfacebook.js