.principal_tutorial{
    /*height: 35ex;*/
}
.imagenes_tutorial img{
    width: 100%;
    height: 35ex;
}

.atras_tutorial, .adelante_tutorial{
    border-style: outset;
    opacity: 0.5;
    color: #161716 !important;
    border-radius: 2em;
    top: 5ex;
    text-decoration: none;
    font-size: 8ex;
    position: absolute;
}
.atras_tutorial:hover, .adelante_tutorial:hover{
     border-style: inset;
}

.atras_tutorial{
}

.adelante_tutorial{
    right: 0ex;
}